<nav><button class="home_btn"><a href="/">Home</a></button></nav>

<h1>about loopd</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aperiam explicabo voluptatum magnam adipisci incidunt ducimus ex voluptas ab a sed eos, libero consectetur quia cupiditate. In repellat a dolores!</p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, explicabo necessitatibus suscipit aliquam similique ducimus accusamus placeat iure. Perferendis eligendi harum consequatur itaque fugit et doloribus officiis voluptate laboriosam sunt.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe adipisci ex repellat similique in enim consectetur quisquam eaque velit quaerat placeat quae ipsa praesentium excepturi, sapiente impedit dolor harum doloremque.</p>

<button class="new_event_btn"><a href="/">Work with Us!</a></button>