<h1>Update your event</h1>

<form action="/events/<%= event["id"]%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input name="event_type" type="text" placeholder="Event Type">
    <input name="event_date" type="date" placeholder="Preferred Date">
    <input name="venue" type="text" placeholder="Venue">
    <input name="guests" type="integer" placeholder="Guest Numbers">
    <input name="theme" type="text" placeholder="Theme">
    <input name="budget" type="numeric" placeholder="Approximate Budget">
    <input name="image_url" type="text" placeholder="Inspiration Image">
    <button>Update</button>

</form>
