
<div class="login_form">
<form action="/session" method="post">
    <input class="company" name="company" size="30" type="text" placeholder="Company Name">
    <input class="password"name="password" size="30" type="password" placeholder="Password">
    <button><i class="fas fa-sign-in-alt"></i></button>
</form>
<%= error_message %>
</div>

<section class="image_grid">
    <div class="home_images">
    <% events.each do | event | %>
        <a href="/events/<%= event["id"]%>">
            <img src="<%= event["image_url"]%>" alt="">
        </a>
    <% end %>
    </div>
</section>
