<nav><button class="about_btn"><a href="/about">About</a></button></nav>

<div class="login_form">
<form action="/session" method="post">
    <input name="company" type="text" placeholder="Company Name">
    <input name="password" type="password" placeholder="Password">
    <button>Login</button>
</form>
<%= error_message %>
</div>

<div class="image_grid">
<% events.each do | event | %>
    <a href="/events/<%= event["id"]%>">
        <img src="<%= event["image_url"]%>" alt="">
    </a>
<% end %>
</div>

